.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
  width:100%;
  background-color: #829FC0;
  height: 60px;
  padding: 20px;
  color: #091D34;
  font-size: 1.5em;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 2px solid #091D34;
}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}

nav {
  /* margin-top:-15px */
  /* float:right; */
  align-self: flex-end;
}
nav a {
  margin-left: 30px;
  border-left: 1px solid black
}

div.main {
  padding-top:5vh;
  height: 90vh;
  background-color: #E1ECF9;
}

footer {
  display:block;
  width:100vw;
  /* position:fixed; */
  bottom:0;;
  text-align:center;
  background-color: #829FC0;
  border-top: 1px solid darkslategray;
  color: black;
}

.leader-board {
  /* background-color: #b2b2b2; */
  width:80vw;
  margin-left:5vw;
  padding: 5vw;
  padding-top:2vh;
}

.game-board {
  display:flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  max-width: 600px;
  /* display: flex;
  align-items: stretch; */
  /* justify-content: space-between; */
  background-color: #F6FAFD;
  height: 50vh;
  width:80vw;
  /* margin-left:5vw; */
  padding: 5vw;
  border: 1px solid #091D34;
}

.row {
  display:flex;
  flex-direction: row;
  width:100%;
  justify-content: space-evenly;
  align-items: space-between;
  margin-bottom: 20px;
}

.clock {
  padding: 10px;
  padding-right: 25px;
  border-right: 1px solid black;
}

.score {
  padding: 10px;
  padding-left: 25px;
  border-left: 1px solid black;
}

.game-round {
  padding: 10px;
}

.target-word {
  display: block;
  align-self: center;
  margin-bottom: 5vh;
}

.game-banner {
  margin-bottom: 5vh;
  border-bottom: 1px solid;
}

.letter-tile {
  display:inline-block;
  height: 30px;
  width:30px;
  border: solid black; border-width: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #ccc;
  background-color: moccasin;
  padding: 14px 12px 4px;
  margin: 10px;
  /* font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; */
  font-family: 'Libre Baskerville', serif;
	font-size: 20px;
	font-weight: 500;
}

.answer {
  height: 2em;
  max-width: 60%;
  align-self: center;
  /* flex-grow: 10; */
  /* margin-top: 1.5em; */
  /* border-style: groove; */
  background-color: aliceblue;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
  /* margin-bottom: 4vh; */
  /* align-self: baseline; */
}

.container {
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: space-between; */
}

.input-container {
  width:100vw;
  margin-bottom: 5vh;
}

.item {

}

a {
  color: #133863;
}

/* h1, h2, h3, h4, h5 {
  color: #B85B14;
} */

.box {
  display:flex;
  justify-content: center;
}

.flex {
  margin-top: 1.5em;
  width:80vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.game-footer {
    margin-top: 3.5em;
  /* align-self: flex-end; */
}

/* .timer {
  float: left;
  margin-left: 20vw;
  margin-top: 12px;
  font-size: 1.25em
}

.start-button {
  float: right;
  margin-right: 20vw;
} */
 .shuffle {
   /* flex-grow: 1;
   margin-left: 10px */
   display: inline-block;
   height: 30px;
   /* width:30px; */
   border: solid black; border-width: 1px;
   border-radius: 5px;
   padding: 14px 12px 4px;
   margin: 10px;
 }

/* .start-button button {
  width: 5em;
  height: 2.5em;
  font-size: 1em;
  border-radius: 5px;
  background-color: whitesmoke;
} */

.btn {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 20px;
}

/* Gray */
.default {
  /* border-color: #e7e7e7; */
  color: black;
}

.default:hover {
  background: aliceblue;
}

/*/////////// Leaderboard ///////////////*/

table {
  margin: 0 auto;
}

table, th, td {
  background-color:white;
  width: 90%;
  border: 2px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
}

tbody .rank {
  width: 20%
}

tbody .player {
  width: 20%
}

tbody .score {
  width: 60%
}

input {
  text-align: center;
}

/*//////////// High Score Modal //////////////*/

.backdrop {
  position: fixed;
  z-index: 2;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100%;
  width: 100%; */
  background-color: rgba(0,0,0,0.3);
  padding: 300px
}

.modal {
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
  min-height: 225px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.exit {
  position: absolute;
  top: 0px;
  left: 0px;
  color: red;
}

.modal-footer {
  margin: 2.5em;

}
