.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.game-board {
  margin-top: 1.5em
}

.letter-tile {
  display:inline-block;
  height: 30px;
  width:30px;
  border: solid black; border-width: 1px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #ccc;
  background-color: bisque;
  padding: 14px 10px 0;
  margin: 10px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 18px;
	font-weight: 500;
}

.answer {
  width:80vw;
  height: 2em;
  margin-top: 1.5em;
  /* border-style: groove; */
  background-color: aliceblue;
  text-align: center;
  font-size: 1.5em;
  border-radius: 5px;
}

.game-footer {
    margin-top: 3.5em;
}

.timer {
  float: left;
  margin-left: 20vw;
  font-size: 1.25em
}

.start-button {
  float: right;
  margin-right: 20vw;
}

.start-button button {
  width: 4em;
  height: 2em;
  font-size: 1.25em;
  border-radius: 5px;
  background-color: whitesmoke;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
